In [2]:
str1="Amit"
list1 = [2, 3, 4, 5]
fl_x = 2.35
tup1 = (1, 2, 3)
var1 = (str1, list1, fl_x, tup1)
var1

('Amit', [2, 3, 4, 5], 2.35, (1, 2, 3))

In [3]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.
print(var1," is of type ", type(var1))
print(var2," is of type ", type(var2))
print(var3," is of type ", type(var3))
print(var4," is of type ", type(var4))

  is of type  <class 'str'>
[DS, ML, Python]  is of type  <class 'str'>
['DS', 'ML', 'Python']  is of type  <class 'list'>
1.0  is of type  <class 'float'>

In [5]:
print("7 divided by 2 is ",7/2)
print("7 modulus (remainder) 2 is ",7%2)
print("7 divided (floor division) by 2 is ",7//2)
print("7 raise to power 2 is ",7**2)

7 divided by 2 is  3.5
7 modulus (remainder) 2 is  1
7 divided (floor division) by 2 is  3
7 raise to power 2 is  49

In [14]:
my_list = [12, 21, 2.35, 3.46, True, False, 0o65, 1.2E2, ('m', 'o', 'o','n'), ['s', 'u', 'n']]
for i in range(10):
    print(my_list[i], " is of data type ", type(my_list[i]))

12  is of data type  <class 'int'>
21  is of data type  <class 'int'>
2.35  is of data type  <class 'float'>
3.46  is of data type  <class 'float'>
True  is of data type  <class 'bool'>
False  is of data type  <class 'bool'>
53  is of data type  <class 'int'>
120.0  is of data type  <class 'float'>
('m', 'o', 'o', 'n')  is of data type  <class 'tuple'>
['s', 'u', 'n']  is of data type  <class 'list'>

In [15]:
print("Enter A : ")
a=int(input())
print("Enter B : ")
b=int(input())

x=a
count = 0
while x%b == 0:
    count+=1
    x//=b
if count>0 :
    print(a," is purely divisible by ",b," for ",count," times.")
else:
    print(a," is not purely divisible by ",b)

Enter A :

 16

Enter B :

 2

16  is purely divisible by  2  for  4  times.

In [16]:
list1 = [12,21,11,32,23,43,54,45,65,56,67,76,78,87,89,98,90,1,2,3,4,5,67,7,17]
for i in range(25):
    if list1[i]%3 == 0:
        print(list1[i]," is divisible by 3.")
    else:
        print(list1[i]," is not divisible by 3.")

12  is divisible by 3.
21  is divisible by 3.
11  is not divisible by 3.
32  is not divisible by 3.
23  is not divisible by 3.
43  is not divisible by 3.
54  is divisible by 3.
45  is divisible by 3.
65  is not divisible by 3.
56  is not divisible by 3.
67  is not divisible by 3.
76  is not divisible by 3.
78  is divisible by 3.
87  is divisible by 3.
89  is not divisible by 3.
98  is not divisible by 3.
90  is divisible by 3.
1  is not divisible by 3.
2  is not divisible by 3.
3  is divisible by 3.
4  is not divisible by 3.
5  is not divisible by 3.
67  is not divisible by 3.
7  is not divisible by 3.
17  is not divisible by 3.

In [17]:
#mutable data types can be modified e.g. lists
list_x = ['s','u','n']
list_x
list_x[1] = 'o'
list_x

['s', 'o', 'n']

In [18]:
#immutable data types cannot be modified. e.g. tuples or strings
tup_x = ('s','u','n')
tup_x
tup_x[1] = 'o'
tup_x

TypeError: 'tuple' object does not support item assignment